.altered-float-label {
	background: #FFF;
	border-radius: 2px;

	label {
		position: absolute;
		margin: 10px 0 0 11px;
		font-weight: normal;
		font-size: 18px;
		color: #B5B5B5;
		transition: all 0.2s ease-out;
		z-index: 1;
		pointer-events: none;
	}

	input {
		z-index: 2;
		position: relative;
		background: transparent;
		transition: padding 0.2s ease-out;
	}
}

.altered-float-label-on {

	label {
		margin-top: 4px;
		font-weight: normal;
		font-size: 12px;
		z-index: 3;
	}

	input {
		padding-top: 17px !important;
		padding-bottom: 3px !important;
	}
}


label[float-label], label[data-float-label] {
	position: absolute;
	margin: 15px 0 0 17px;
	font-weight: normal;
	font-size: 12px;
	color: #B5B5B5;
	transition: all 0.3s ease-out;
	opacity: 0;
	visibility: hidden;
	user-select: none;
	pointer-events: none;
	outline: 0;
}

.form-control-icon, label[float-label], label[data-float-label] {
	cursor: text;
}

.has-icon label[float-label], .has-icon label[data-float-label] {
	margin-left: 33.5px;
}

label[float-label].float-label-on, label[data-float-label].float-label-on {
	opacity: 1;
	visibility: visible;
	margin-top: 4px;
}

input {
	transition: padding 0.3s ease-out;
}

input.float-label {
	padding-top: 17px !important;
	padding-bottom: 3px !important;
}

// input.float-label::-webkit-input-placeholder {
// 	color: transparent;
// }
//
// input.float-label:-moz-placeholder {
// 	color: transparent;
// }
