.altered-pill {
    display:inline-block;
      position: relative;
      margin-bottom:5px;
      padding:5px 15px;
      line-height:1;
      background:#FFF;
      border:1px solid $altered-gray-90;
      border-radius:20px;
    span {
        display: inline-block;
      	margin-left: 3px;
      	padding: 0 5px 3px;
      	color:#FFF;
      	font-size: 13px;
      	font-weight: 300;
        line-height: 1;
        vertical-align: top;
        cursor:pointer;
      	background-color: #CCC;
      	border-radius: 8px;
        &:hover, &:focus, &:active {
          background-color:#E5E5E5;
        }
    }
    &.add {
        margin-left:0;
        padding-left:10px;
    }
}
