// Colors
$altered-dark-gray: #333333;
$altered-dark-gray-90: #4D4D4D;
$altered-gray: #999999;
$altered-gray-90: #E5E5E5;
$altered-light-gray: #F5F5F5;
$altered-red: #CC0000;
$altered-blue: #006699;
$altered-light-blue: #66CCFF;
$altered-green: #73BE46;
$altered-yellow: #FFB914;
$altered-orange: #F5781E;
$success-green: #66CC66;
$warning-yellow: #FFCC00;
$error-red: #CC0000;

// Break Points
$altered-screen-sm: 768px;
$altered-screen-md: 992px;
$altered-screen-lg: 1200px;

// Font Stacks
$helvetica-neue: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-seri;
$roboto-condensed: 'Roboto Condensed', sans-serif;
