.altered-navbar {
	margin-bottom: 0;
	border: none;
	border-radius: 0;
	background: none;

	&.altered-navbar-sticky {
		position: fixed;
		z-index: 1000;
		top: 0;
		left: 0;
		width: 100%;
		box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	}

	.navbar-brand {
		height: 55px;
		padding: 17px 15px 15px 10px;
		line-height: 20px;
		font-size: 18px;

		img {
			display: block;
		}

		&:hover {
			text-decoration: none;
			background: $altered-dark-gray-90;
		}
	}

	.nav-link {
		padding: 15px;

		&:hover {
			text-decoration: none;
		}
	}

	.navbar-nav .nav-item + .nav-item {
		margin-left: 0;
	}

	.dropdown-menu {
		min-width: 250px;
		margin-top: 0;
		color: $altered-light-gray;
		background-color: $altered-dark-gray;
		border-radius: 0 0 .25rem .25rem;

		h4 {
			margin-top: .5rem;
			margin-left: .75rem;
			margin-right: .75rem;
			font-size: 1.5rem;
		}

		.altered-form {
			margin-bottom: .75rem;
			margin-left: .75rem;
			margin-right: .75rem;
		}
	}
}

// mobile
@media only screen and (max-width: $altered-screen-sm) {
	body.navbar-collapse-open {
		overflow: hidden;
		height: 100%;

		.altered-navbar {
			height: 100%;
		}
	}

	.altered-navbar {
		.container {
			height: 100%;
		}

		.navbar-header {
			padding: 0;
			background-color: $altered-dark-gray;
		}

		.altered-search-toggle {
			font-size: 17px;
			font-weight: bold;
			display: block;
			float: right;
			margin: 8px 0;
			padding: 4px 8px;
			color: #FFF;
			border: 1px solid $altered-dark-gray;

			&:hover,
			&:active,
			&:focus {
				text-decoration: none;
			}
		}

		.navbar-collapse {
			position: absolute;
			top: 50px;
			right: 0;
			bottom: 0;
			left: 0;
			display: none;
			overflow: auto;
			margin: 0;
			padding: 0;
			border: none;
			background: $altered-gray;
			box-shadow: none;

			&.open {
				display: block;
			}
		}

		.navbar-nav {
			margin: 0;

			a {
				font-size: 18px;
				line-height: 20px;
				display: block;
				padding: 10px 15px;
				color: #FFF !important;

				[class^='icon-'],
				[class*=' icon-'] {
					font-size: 20px;
					line-height: 1;
					margin-right: 8px;
				}
			}
		}

		.dropdown,
		.altered-multi-column-col {
			padding: 0;
			border-top: 1px solid $altered-dark-gray-90;

			&:first-child {
				border: 0;
			}
		}

		.dropdown-toggle,
		.altered-multi-column-title {
			font-size: 14px !important;
			line-height: 16px !important;
			padding: 15px 15px 5px 15px;
			cursor: default;
			text-transform: uppercase;
			color: #FFF !important;
			background: none !important;

			[class^='icon-'],
			[class*=' icon-'] {
				display: none;
			}

			&:hover {
				background: none !important;
			}
		}

		.dropdown-menu,
		.open .dropdown-menu {
			position: static;
			display: block !important;
			float: none;
			padding: 0;
			border: 0;
			border-radius: 0;
			background: none;
			box-shadow: none;

			li {
				display: block;

				&:last-child {
					margin-bottom: 5px;
				}
			}

			a:hover {
				text-decoration: none;
				background: $altered-dark-gray-90 !important;
			}
		}
	}
}

// desktop
@media only screen and (min-width: $altered-screen-sm) {
	.altered-navbar {
		background-color: $altered-dark-gray;

		.my-altered-link {
			font-size: 14px;
			font-weight: bold;
			line-height: 16px;
			overflow: hidden;
			margin: 5px 10px 0 10px;

			a {
				margin: 1px 0;
				padding-top: 4px !important;
				padding-bottom: 4px !important;
				border-radius: 4px;
				background: $altered-dark-gray-90;

				&:hover {
					background: $altered-light-blue !important;
				}
			}
		}

		.navbar-nav > li {
			.icon-arrow-65 {
				display: inline-block;
			}

			.icon-arrow-66 {
				display: none;
			}

			.icon-magnifier,
			.icon-profile-1 {
				font-size: 20px;
				line-height: 1;
				position: relative;
				top: -1px;
				display: inline-block;
				margin-right: 2px;
				vertical-align: bottom;
			}

			.icon-arrow-65,
			.icon-arrow-66 {
				font-size: 11px;
				font-weight: bold;
				margin-left: 2px;
				vertical-align: bottom;
			}

			> a {
				color: #FFF;

				&:hover {
					background: $altered-dark-gray-90;
				}
			}


			&.open {
				.icon-arrow-65 {
					display: none;
				}

				.icon-arrow-66 {
					display: inline-block;
				}

				> a {
					background: none !important;
				}
			}
		}

		.navbar-collapse .dropdown-menu {
			border: none;
			border-color: $altered-gray;
			border-radius: 0;
			background: $altered-gray;

			a {
				padding: 5px 15px;
				color: #FFF;

				&:hover,
				&:active,
				&:focus {
					color: #FFF;
					background: $altered-dark-gray-90;
				}

				[class^='icon-'],
				[class*=' icon-'] {
					font-size: 20px;
					line-height: 1;
					margin-right: 8px;
				}
			}
		}

		.altered-multi-column {
			display: table;
			width: 100%;

			.altered-multi-column-col {
				display: table-cell;
				padding: 0;
				border-left: 1px solid darken($altered-gray, 10%);

				&:first-child {
					border: none;
				}

				li {
					display: block;
					white-space: nowrap;

					a {
						display: block;

						&:hover {
							text-decoration: none;
						}
					}
				}
			}

			.altered-multi-column-title {
				font-size: 14px;
				font-weight: bold;
				line-height: 16px;
				padding: 10px 15px 5px 15px;
				color: #FFF;
			}
		}

		.altered-dropdown-banner {
			position: static;

			.dropdown-menu {
				font-size: 11px;
				top: 50px;
				width: 100%;
				padding: 0;
				text-align: center;

				li {
					display: inline-block;
					width: 120px;
				}

				a {
					display: block;
					padding: 10px;
				}

				strong,
				span {
					display: block;
				}

				[class^='icon-'],
				[class*=' icon-'] {
					font-size: 51px !important;
					line-height: 1;
					display: block;
					margin: 0 0 5px 0;
				}

				@media only screen and (min-width: $altered-screen-md) {
					font-size: 14px;

					li {
						width: 140px;
					}
				}

				@media only screen and (min-width: $altered-screen-lg) {
					a {
						padding: 20px;
					}

					li {
						width: 175px;
					}
				}
			}
		}
	}

	// BOOTSTRAP OVERRIDES
	&.navbar {
		padding-top: 0;
		padding-bottom: 0;
	}
}
