.altered-important {
	font-weight: 800;
}

.altered-truncate {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.altered-nowrap {
	white-space: nowrap;
}

.altered-no-top-border {
	border-top: 0;
}

.altered-margin-top {
	margin-top: 18px;
}

.altered-margin-bottom {
	margin-bottom: 18px;
}

.altered-no-margin-bottom {
	margin-bottom: 0;
}

.altered-margin-top-double {
	margin-top: 36px;
}

.altered-margin-bottom-double {
	margin-bottom: 36px;
}

.altered-margin-bottom-none {
	margin-bottom: 0 !important;
}

.altered-show-block {
	display: block;
}

.altered-show-inline {
	display: inline;
}

.altered-hide {
	display: none !important;
}

.altered-break-word {
	word-break: break-all;
}
